<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="Enterprise-ejbPU2" transaction-type="JTA">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <jta-data-source>jdbc/_Ara</jta-data-source>
    <class>org.inbio.ara.persistence.collection.Collection</class>
    <class>org.inbio.ara.persistence.collection.CollectionProtocol</class>
    <class>org.inbio.ara.persistence.collection.ListTable</class>
    <class>org.inbio.ara.persistence.collection.ListTableCollection</class>
    <class>org.inbio.ara.persistence.collection.ProtocolAttribute</class>
    <class>org.inbio.ara.persistence.gathering.DeterminationType</class>
    <class>org.inbio.ara.persistence.gathering.EcologicalVariable</class>
    <class>org.inbio.ara.persistence.gathering.EcologicalVariableValue</class>
    <class>org.inbio.ara.persistence.gathering.Exposition</class>
    <class>org.inbio.ara.persistence.gathering.GatheringObservation</class>
    <class>org.inbio.ara.persistence.gathering.GatheringObservationDetail</class>
    <class>org.inbio.ara.persistence.gathering.GatheringObservationEcologicalVar</class>
    <class>org.inbio.ara.persistence.gathering.GatheringObservationMethod</class>
    <class>org.inbio.ara.persistence.gathering.Label</class>
    <class>org.inbio.ara.persistence.gathering.LabelHistory</class>
    <class>org.inbio.ara.persistence.gathering.MorphologicalDescription</class>
    <class>org.inbio.ara.persistence.gathering.OriginalLabel</class>
    <class>org.inbio.ara.persistence.gathering.Project</class>
    <class>org.inbio.ara.persistence.gathering.SamplingType</class>
    <class>org.inbio.ara.persistence.gis.AltitudeFloor</class>
    <class>org.inbio.ara.persistence.gis.FeatureType</class>
    <class>org.inbio.ara.persistence.gis.GeographicLayer</class>
    <class>org.inbio.ara.persistence.gis.GeoreferencedSite</class>
    <class>org.inbio.ara.persistence.gis.Projection</class>
    <class>org.inbio.ara.persistence.gis.Site</class>
    <class>org.inbio.ara.persistence.gis.SiteCalculationMethod</class>
    <class>org.inbio.ara.persistence.gis.SiteCoordinate</class>
    <class>org.inbio.ara.persistence.institution.Institution</class>
    <class>org.inbio.ara.persistence.person.Person</class>
    <class>org.inbio.ara.persistence.person.PersonInstitution</class>
    <class>org.inbio.ara.persistence.person.PersonProfile</class>
    <class>org.inbio.ara.persistence.person.PersonProfileTaxon</class>
    <class>org.inbio.ara.persistence.person.Profile</class>
    <class>org.inbio.ara.persistence.reference.Reference</class>
    <class>org.inbio.ara.persistence.reference.ReferenceElement</class>
    <class>org.inbio.ara.persistence.reference.ReferenceElementValue</class>
    <class>org.inbio.ara.persistence.reference.ReferenceType</class>
    <class>org.inbio.ara.persistence.reference.TaxonDescriptionRecordReference</class>
    <class>org.inbio.ara.persistence.species.Audience</class>
    <class>org.inbio.ara.persistence.species.GeographicCatalogue</class>
    <class>org.inbio.ara.persistence.species.GeographicEntity</class>
    <class>org.inbio.ara.persistence.species.InteractionType</class>
    <class>org.inbio.ara.persistence.species.SpeciesRecordStageProfile</class>
    <class>org.inbio.ara.persistence.species.StageTransitionDate</class>
    <class>org.inbio.ara.persistence.species.StageTransitionDigraph</class>
    <class>org.inbio.ara.persistence.species.TaxonDescriptionAudience</class>
    <class>org.inbio.ara.persistence.species.TaxonDescriptionInstitution</class>
    <class>org.inbio.ara.persistence.species.TaxonDescriptionPersonProfile</class>
    <class>org.inbio.ara.persistence.species.TaxonDescriptionRecord</class>
    <class>org.inbio.ara.persistence.species.TaxonDescriptionRecordMultimedia</class>
    <class>org.inbio.ara.persistence.species.TaxonDescriptionStage</class>
    <class>org.inbio.ara.persistence.specimen.Annotation</class>
    <class>org.inbio.ara.persistence.specimen.Component</class>
    <class>org.inbio.ara.persistence.specimen.ComponentPart</class>
    <class>org.inbio.ara.persistence.specimen.Culture</class>
    <class>org.inbio.ara.persistence.specimen.CultureMedium</class>
    <class>org.inbio.ara.persistence.specimen.CultureStorageMedium</class>
    <class>org.inbio.ara.persistence.specimen.ExtractionType</class>
    <class>org.inbio.ara.persistence.specimen.Identification</class>
    <class>org.inbio.ara.persistence.specimen.IdentificationHistory</class>
    <class>org.inbio.ara.persistence.specimen.IdentificationType</class>
    <class>org.inbio.ara.persistence.specimen.Identifier</class>
    <class>org.inbio.ara.persistence.specimen.IdentifierHistory</class>
    <class>org.inbio.ara.persistence.specimen.LifeForm</class>
    <class>org.inbio.ara.persistence.specimen.LifeStage</class>
    <class>org.inbio.ara.persistence.specimen.Origin</class>
    <class>org.inbio.ara.persistence.specimen.PreparationMethod</class>
    <class>org.inbio.ara.persistence.specimen.PreservationMedium</class>
    <class>org.inbio.ara.persistence.specimen.Sex</class>
    <class>org.inbio.ara.persistence.specimen.SpecimenAnnotation</class>
    <class>org.inbio.ara.persistence.specimen.SpecimenCategory</class>
    <class>org.inbio.ara.persistence.specimen.SpecimenDescription</class>
    <class>org.inbio.ara.persistence.specimen.SpecimenLifeForm</class>
    <class>org.inbio.ara.persistence.specimen.SpecimenLifeStageSex</class>
    <class>org.inbio.ara.persistence.specimen.SpecimenType</class>
    <class>org.inbio.ara.persistence.specimen.SpecimenVariable</class>
    <class>org.inbio.ara.persistence.specimen.SpecimenVariableValue</class>
    <class>org.inbio.ara.persistence.specimen.StorageType</class>
    <class>org.inbio.ara.persistence.specimen.Substrate</class>
    <class>org.inbio.ara.persistence.specimen.TransactedSpecimen</class>
    <class>org.inbio.ara.persistence.specimen.TransactedSpecimenStatus</class>
    <class>org.inbio.ara.persistence.specimen.Transaction</class>
    <class>org.inbio.ara.persistence.specimen.TransactionType</class>
    <class>org.inbio.ara.persistence.specimen.TypeSpecimen</class>
    <class>org.inbio.ara.persistence.specimen.TypeSpecimenType</class>
    <class>org.inbio.ara.persistence.taxonomy.InmediatePredecessorHistory</class>
    <class>org.inbio.ara.persistence.taxonomy.Taxon</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonAuthor</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonAuthorConnector</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonCategory</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonDescription</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonDescriptionCategory</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonDescriptionDataType</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonDescriptionElement</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonNameHistory</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonomicalHierarchy</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonomicalRange</class>
    <class>org.inbio.ara.persistence.util.Concept</class>
    <class>org.inbio.ara.persistence.util.Country</class>
    <class>org.inbio.ara.persistence.util.Language</class>
    <class>org.inbio.ara.persistence.security.Module</class>
    <class>org.inbio.ara.persistence.security.OptionType</class>
    <class>org.inbio.ara.persistence.security.Subsystem</class>
    <class>org.inbio.ara.persistence.security.SystemOption</class>
    <class>org.inbio.ara.persistence.security.User</class>
    <class>org.inbio.ara.persistence.security.UserOption</class>
    <class>org.inbio.ara.persistence.security.UserType</class>
    <class>org.inbio.ara.persistence.security.UserNomenclaturalGroup</class>
    <class>org.inbio.ara.persistence.security.UserTaxon</class>
    <class>org.inbio.ara.persistence.taxonomy.Region</class>
    <class>org.inbio.ara.persistence.gathering.CollectorObserver</class>
    <class>org.inbio.ara.persistence.gathering.GatheringObservationCollection</class>
    <class>org.inbio.ara.persistence.gathering.GatheringObservationProject</class>
    <class>org.inbio.ara.persistence.specimen.IdentificationStatus</class>
    <class>org.inbio.ara.persistence.specimen.Specimen</class>
    <class>org.inbio.ara.persistence.specimen.IdentificationTest</class>
    <class>org.inbio.ara.persistence.taxonomy.NomenclaturalGroup</class>
    <class>org.inbio.ara.persistence.taxonomy.NomenclaturalGroupRegion</class>
    <class>org.inbio.ara.persistence.taxonomy.TaxonNomenclaturalGroup</class>
    <properties>
      <property name="hibernate.default_schema" value="ara"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
      <property name="hibernate.show_sql" value="false"/>
      <property name="hibernate.format_sql" value="false"/>
      <property name="org.hibernate.SQL" value="false"/>
      <property name="hibernate.use_sql_comments" value="false"/>
      <property name="hibernate.engine.QueryParameters" value="debug"/>
    </properties>
  </persistence-unit>
</persistence>
